# Pandas loc() and iloc() examples

In [ ]:
# Look at
# https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/ 
# for a really detailed explanation with a lot more examples.

In [58]:
import pandas as pd

In [59]:
# Create a function to re-read in te data so we can start
# fresh with the data if we wish.
# zoo-short.csv only contains 7 rows for easy reading in the examples here.
def refresh_data():
    file = "Resources/zoo-short.csv"
    return pd.read_csv(file)

In [64]:
# Read in the data into a DataFrame
df = refresh_data()
df

  animal  uniq_id  water_need gender
0      x     1099         500      F
1      x     1002         600      F
2      x     1005         520      M
3      x     1006         330      F
4      x     1009         180      F
5      x     1010         220      M
6      x     1022         190      M

In [ ]:
# Return all rows where animal == zebra
df.loc[df.animal == 'zebra']

In [ ]:
# Return all rows where animal == zebra or kangaroo
df.loc[(df.animal == 'zebra')  | (df.animal == 'kangaroo')]

In [ ]:
# Return all rows where water_need > 400
df.loc[df.water_need > 400]

In [ ]:
# Return all rows where water_need > 400, sorn by water_need.
df.loc[df.water_need > 400].sort_values('water_need')

In [ ]:
# Select a range of rows
df.loc[1:3]

In [ ]:
# select a few columns with a condition
df.loc[(df.water_need >= 300), ['animal', 'gender']]

In [ ]:
# Set all values in a row to a value
df['gender'] = 'M'
df

In [ ]:
refresh_data()

In [ ]:
df.loc[(df.water_need >= 300), ['animal', 'water_need']] = ['x', 500]
df

In [ ]:
df = refresh_data()
df

In [ ]:
# Use iloc to select certain rows and ALL columns
df.iloc[[0,2,3]]

In [ ]:
# Use iloc to select specific rows and columns
df.iloc[[0,2,3], [0,2,3]]

In [ ]:
# Use iloc to select a range of rows and columns
# Remember a range - the last number is non-inclusive
df.iloc[1:3,2:3]